<a href="https://colab.research.google.com/github/supriyasri/PYTHON-MANIA-/blob/master/math_with_python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def factors(b):                       #Factors of a number
  for i in range(1,b+1):
    if b%i==0:
      print(i)
    else :
      print("Not a factor")
b=int(input("your number please"))
factors(b)

your number please6
1
2
3
Not a factor
Not a factor
6

In [0]:
item1='pencils'             #placehoders in strings
item2='pens'
item3='erasers'
print('at the grocery store,i brought some {0}, {1} and {2}'.format(item1,item2,item3))

at the grocery store,i brought some pencils, pens and erasers

In [0]:
print('at the grocery store,i brought some {0},{1}and {2}'.format(1,2,3))

at the grocery store,i brought some 1,2and 3

In [0]:
print('at the grocery store,i brought some {0},{1}and {2}'.format('pp','qq','rr'))    #in FROMAT we can give only initialized variables,numbers

at the grocery store,i brought some pp,qqand rr

In [0]:
print('at the grocery store,i brought some {0},{1}and {2}'.format(pp,qq,rr))    #without initialization,variable cannot be used

NameError: ignored

In [0]:

a= "%s is %f years experienced in Data Science department"
a %("krishna",6.5)                                      #numbers in normal way, characters is given as string

'krishna is 6.500000 years experienced in Data Science department'

In [0]:
def mul(a):
  for i in range(1,n+1):
    print({0} * {1} ={2}.format(n,i,n*i))           
    
n=int(input("Enter a number to generate multiplication table"))  #Generate string only,,,,,,it becomes an expression 

mul(n)

SyntaxError: ignored

In [0]:
def mul(a):
  for i in range(1,11):
    print('{0} * {1} ={2}'.format(n,i,n*i))
    
n=int(input("Enter a number to generate multiplication table"))
mul(n)

Enter a number to generate multiplication table10
10 * 1 =10
10 * 2 =20
10 * 3 =30
10 * 4 =40
10 * 5 =50
10 * 6 =60
10 * 7 =70
10 * 8 =80
10 * 9 =90
10 * 10 =100

In [0]:
sent =%s %s is extra ordinary girl 
sent

UsageError: Line magic function `%s` not found.

In [0]:
sent ='%s %s is extra ordinary girl'      # variable can be assigned NUMBER or STING, but not characters 
sent

'%s %s is extra ordinary girl'

In [0]:
sent ='%s %s is extra ordinary girl'     
sent %('baby','supriya')

'baby supriya is extra ordinary girl'

In [0]:
'{0}'.format(1)

'1'

In [0]:
'{0}'.format(1.23456)

'1.23456'

In [0]:
'{0.2f}'.format(1.23456)

AttributeError: ignored

In [0]:
'{0:.2f}'.format(1.23456)      #u can control the decimal places using COLON in between real part and decimlapart

'1.23'