<a href="https://colab.research.google.com/github/supriyasri/PYTHON-MANIA-/blob/master/Patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
for num in range(10):
    for i in range(num):
        print (num,end=" ") #print number
    
    print("\n")             # new line after each row to display pattern correctly

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [0]:
for i in range(5,0,-1):
  print(i*"*",end=" ")
  print("\n")

*****

****

***

**

*

In [0]:
for i in range(1,6):
  print(i,i,i,i,i)                   #apply 1st n 2nd program strategies

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [0]:
n=int(input("enter range"))
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i,end="")
  print("")

enter range5
11111
22222
33333
44444
55555

In [0]:

for i in range(1,6):
  
  for j in range(i):
    print(j+1,end=" ")
  print("\n")

1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [0]:
for i in range(1,5):
  for j in range(i):
    
        print((j+i),end=" ")
     
   
    
  print("\n")

1

2 3

3 4 5

4 5 6 7

In [0]:
a=range(1)
a

range(0, 1)

In [0]:
a=1
for i in range(0,5):
  
  for j in range(0,i):
    
        print(a,end=" ")
        a=a+1
     
  print("\n")

1

2 3

4 5 6

7 8 9 10

In [0]:
 for a in range(7,-1,-2):
    print (a)
  for

7
5
3
1

In [0]:
i=0
j=4

for row in range(5):
  for col in range(5):
    
    if row==i and col==4:
      print("*",end="")
      row=row+1
      col=col-1
      
    elif (row==col):
      print("*",end="")
      
    else:
      print(end="")
  print()

**
*
*
*
*

In [0]:
for row in range(5):
  for col in range(5):
    if row==2 or col==2:
      print("*",end=" ")
    
    elif (row==1 or row==3) and (col==1 or col==3):
      print("*",end=" ")
    else:
      print(end=" ")
  print()

  *
 * * *
* * * * *
 * * *
  *

In [0]:
for row in range(9):
  for col in range(9):                                                      # i need to generalize for any number and simplify the code 
    if row==4 or col==4:
      print("*",end=" ")
    
    elif (row==1 or row==7) and (col==5 or col==3):
      print("*",end=" ")
    elif (row==2 or row==6) and (col==2 or col==3 or col==5 or col==6):
      print("*",end=" ")
    elif (row==3 or row==5) and (col in range(1,8)):
      print("*",end=" ")
      
    elif (row==0 or row==8) and (col==4):
      print("*",end=" ")
      
    else:
      print(end=" ")
  print()

    *
   * * *
  * * * * *
 * * * * * * *
* * * * * * * * *
 * * * * * * *
  * * * * *
   * * *
    *

In [0]:
n=int(input("enter the value of n"))


for i in range(n-1):
   print((n-i)*" " + (2*i+1)*"*")
for i in range(n-1,-1,-1):
   print((n-i)*" " + (2*i+1)*"*")
  
    
print()

enter the value of n7
       *
      ***
     *****
    *******
   *********
  ***********
 *************
  ***********
   *********
    *******
     *****
      ***
       *